{% extends 'base.html' %}
{% block title %} - Courses{% endblock %}
{% block header %}<h1>Courses</h1>{% endblock %}
{% block content %}
<table id="course-table">
    <thead>
        <tr>
            <th>Course</th>
            {% if user.is_staff %}
            <th>Staff Actions</th>
            {% endif %}
        </tr>
    </thead>
    <tbody>
        {% for course in object_list %}
        <tr>
            <td><a href="{% url 'view_course' course.pk %}">{{ course }}</a></td>
            {% if user.is_staff %}
                <td><a href="{% url 'delete_course' course.pk %}">Delete</a></td>
            {% endif %}
        </tr>
        {% empty %}
        <tr><td colspan="2">No courses are available at this time</td></tr>
        {% endfor %}
    </tbody>
</table>
{% if user.is_staff %}
    <br>
    <h3><u>Staff Actions</u></h3>
    <ul>
        <li><a href="{% url 'create_course' %}">Create Course</a></li>
    </ul>
{% endif %}
{% endblock %}