{% extends 'base.html' %}
{% block title %} - Students{% endblock %}
{% block header %}<h1>Students</h1>{% endblock %}
{% block content %}
<table class="paged-table">
    <thead>
        <tr>
            <th>Gavilan ID</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for student in object_list %}
        <tr>
            <td><a href="{% url 'view_student' student.username %}">G00 {{ student.username }}</a></td>
            <td>{{ student.first_name }}</td>
            <td>{{ student.last_name }}</td>
            <td><a href="{% url 'delete_student' student.username %}">Delete</a></td>
        </tr>
        {% empty %}
        <tr><td span="4">No students to display</td></tr>
        {% endfor %}
    </tbody>
</table>
<br>
<h3><u>Register Students</u></h3>
<ul>
    <li><a href="{% url 'create_student' %}">Register a student</a></li>
    <li><a href="{% url 'bulk_create_student' %}">Register students in bulk</a></li>
</ul>
{% endblock %}
{% load static %}
{% block scripts %}
	<script type="text/javascript" charset="utf-8" src="{% static 'table_script.js' %}"></script>
{% endblock %}